pydantic
fastapi

fast-mail
jinja2
sqlmodel
sqlalchemy
pyjwt
bcrypt

alembic
redis

celery
asgiref


flower

pytest
pytest-asyncio
pytest-cov 
httpx
<<<<<<<< HEAD:server/requirement.txt

python-dotenv


========
>>>>>>>> 4ab912beb2c514686f60b70f5af5880e2cfc8edc:requirements.txt
