pydantic
fastapi
uvicorn
fastapi-mail
jinja2
sqlmodel
sqlalchemy
pyjwt
bcrypt

alembic
redis

celery
asgiref
pydantic-settings

flower

pytest
pytest-asyncio
pytest-cov 
httpx
python-multipart
python-dotenv
itsdangerous

